
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Custom CSS  */

:root {
    --primary-color: #A82C48;
    --secondary-color:  #1f6dad
    ;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: red;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

span{
    color: var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--secondary-color);
}

h2 {
    font-weight: 700;
    font-size: 2.25rem;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    line-height: 3rem;
}

h4 {
    font-weight: 800;
    font-size: 18px;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

h5 {
    font-weight: 700;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

p {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}

.main-btn {
    display: inline-block;
    padding: 0.625rem;
    line-height: 1.75rem;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0p 2px 10px -1px rgb(0 0 0 /19%);
    --webkit-transition: all .4s ease-out 0s;
    --o-transition: all .4s ease-out 0s;
    --moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.white-btn {
    padding: 0.625rem 1.875rem;
    line-height: 25px;
    background-color: var(--white-color);
    border: 0.1875rem solid var(--white-color);
    color: var(--text-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 /19%);
    --webkit-transition: all .4s ease-out 0s;
    --o-transition: all .4s ease-out 0s;
    --moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.logo{
    height: 100px;
    width: 100%;
}
.main-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.main-btn img{
    height: 20px;
}

.white-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.wrapper {
    padding-top: 8.25rem;
    padding-bottom: 8.25rem;
}

.text-content {
    width: 70%;
    margin: auto;
}

.counter-section h2,
.testinomial-section h2,
.book-food-text h2 {
    color: var(--white-color);
}

/* Custom Scroll Bar  */

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

/* Header Section */

.navigation-wrap {
    position: fixed;
    background-color: #fff;
    width: 100%;
    left: 0;
    z-index: 1000;
    --webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item {
    padding: 0 0.625rem;
    transition: all 200ms linear;
}

.navbar-toggler {
    outline: unset;
    border: unset;
    box-shadow: none;
}

.navbar-toggler:focus {
    outline: unset;
    border: unset;
    box-shadow: none;
}

.nav-link {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
    letter-spacing: 1px;
}

.navigation-wrap .main-btn {
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}

/* Change Navbar Styling on Scroll  */

.navigation-wrap.scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white-color);
    box-shadow: 0 0.125rem 1.75rem 0 rgba(0, 0, 0, 0.09);
    transition: all .15s ease-in-out 0s;
}

/* Top-Banner  */

.top-banner {
    width: 100%;
    background: url('../images/background.jpg') no-repeat center;
    background-size: cover;
    padding: 16.875rem 0 9.375rem;
}

.top-banner h1{
    color: var(--white-color);
    width: 30em;
}
.top-banner p{
    color: #999;
}
   
/* Counter Section  */

.counter-section {
    background-color: var(--primary-color);
    padding: 2.5rem 0;
    color: var(--white-color);
}
.counter-section span{
    color: var(--white-color);
}

.counter-section p {
    color: var(--white-color);
    text-transform: uppercase;
}

/* About Section  */

.about-section {
    background-color: var(--white-color);
}

.about-section .card,
.about-section .card img {
    border-radius: 0.625rem;
}

.about-section .text-sec {
    padding-left: 2rem;
}

/* Food Type  */

.food-type {
    padding-top: 3.25rem;
    
}

.food-type ul li {
    font-size: 1rem;
    color: var(--text-color);
    line-height: 32px;
    position: relative;
    margin-left: 30px;
}

.food-type ul li::before {
    position: absolute;
    left: -2.1875rem;
    color: var(--primary-color);
    font-size: 1.25rem;
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}


/* Work Section  */

.work-section{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

.work-section h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.work-section img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    transition: transform .2s;
}

.work-section img:hover{
    box-shadow: 10px 5px 10px #788acb;
    transform: scale(1.5);
}

.work-section p{
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #333;
    font-size: 20px;
    letter-spacing: 2px;
}

/* Story Section  */

.story-section {
    width: 100%;
    height: 28.125rem;
    background: url('../images/story.jpg') no-repeat center;
    background-size: cover;
    padding-top: 100px;
    text-align: center;
}

.story-section h2 {
    color: var(--white-color);
}
.story-section p{
    color: #d1c7c7;
}


/* Explore Food  */

.explore-food{
    margin: 100px;
}
.explore-food h2{
    margin-bottom: 100px;
}
.explore-food .card {
    border: none;
    background-color: transparent;
    border-radius: 0.9375rem;
}

.explore-food h4{
    color: #333;
    font-size: 20px;
    font-weight: 400;
}
.explore-food .card img {
    border-radius: 0.9375rem;
    height: 250px;
    width: 500px;
    transition: transform .2s;
    cursor: pointer;
}

.explore-food .card img:hover{
    transform: scale(0.9);
    box-shadow: 10px 10px 10px #788acb;
}

.explore-food .card span {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid #eee;
}

.explore-food .card span del {
    color: var(--text-gray);
    margin-left: 0.5rem;
}

.explore-food .btn{
    width: 60px;
    height: 25px;
    font-size: 12px;
    margin-left: 40px;
    padding: 3px;
}

/* Testimonial Section  */

.testimonial-section {
    background-color: var(--primary-color);
}

.testimonial-section .carousel-item {
    margin-top: 3rem;
    padding: 10rem 3.125rem;
    background-color: var(--white-color);
    border-radius: 0.9375rem;
    text-align: center;
}

.testimonial-section .carousel-caption img {
    border-radius: 50%;
    padding: 0.3125rem;
    width: 100px;
    height: 100px;
}

.testimonial-section .carousel-item .carousel-caption p {
    font-size: 1.3125rem;
    line-height: 2.0625rem;
    padding: 0 11% 0.625rem;
}

.testimonial-section .carousel-indicators {
    bottom: -2.8125rem;
}

.testimonial-section .carousel-indicators button {
    width: 15px;
    height: 15px;
    outline: none;
    border-radius: 50%;
    border: none;
    margin-right: 1rem;
    opacity: 0.09;
}

.testimonial-section .carousel-indicators button.active {
    opacity: 1;
}

/* FAQ Section  */

.faq h4 span {
    font-size: 1.875rem;
    margin-right: 0.3125rem;
}

.faq h4 {
    font-weight: 600;
    color: var(--primary-color);
}


.book-food {
    width: 100%;
    background: url('../images/bg-3.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 71.9125px;
    padding: 4.375rem 0;
}

/* Newsletter   */

.newsletter {
    width: 60%;
    margin: 0 auto;
}

.newsletter .form-control {
    height: 3.225rem;
    padding: 0 1.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    width: 100%;
    border: none;
    border-radius: 0;
    background: transparent;
    border: 0.1875rem solid var(--text-gray);
    color: var(--black-color);
    font-weight: 700;
}

.newsletter .form-control:hover,
.newsletter .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--primary-color);

}

/* Contact Section  */

.contact-section{
    margin-bottom: 100px;
}
.contact-section img{
    border-radius: 20px;
    margin-top: 50px;
}
.contact-section h2{
    margin-bottom: 100px;
}

.contact-section form{
    margin-left: 100px;
    width: 100%;
}

.contact-section label{
    font-size: 20px;
    color: #333;
    padding: 10px;
}

.contact-section input{
    border: none;
    background-color: #fffafa;
    width: 75%;
    padding: 10px;
}

.contact-section textarea{
    border: none;
    background-color: #fffafa;
    width: 75%;
    padding: 10px;
}

.contact-section button{
    margin: 20px;
    width: 100px;
}

/* Footer Section  */

.footer {
    background-color: var(--primary-color);
}

.footer .footer-link {
    font-size: 1rem;
    color: var(--white-color);
    padding: 0 1.875rem;
}

.footer a:hover {
    color: var(--black-color) !important;
}

.footer a i {
    font-size: 1.5rem;
    color: var(--white-color);
    padding: 0 1rem;
}

/* Responsive Design  */

@media (max-width: 991px) {

    .text-content {
        width: 100%;
    }

    .navigation-wrap .navbar-brand-img {
        height: 3.8125rem;
    }

    .navigation-wrap {
        text-align: center;
        background-color: var(--white-color);
    }

    .navigation-wrap .nav-link {
        line-height: 1.875rem;
    }

     .top-banner h1{
        font-size: 40px;
        max-width: 600px;
        line-height: 1;
    }

    .work-section img{
        height: 100px;
        width: 100px;
    }
    .work-section p{
        font-size: 15px;
    }

    .story-section h2{
        font-size: 30px;
        margin-left: 100px;
    }

    .story-section p{
        font-size: 15px;
        margin-left: 100px;
        max-width: 700px;
    }

    .contact-section img{
        margin-top: 100px;
    }

    .contact-section form{
        margin-left: 10px;
    }

    .contact-section input{
        width: 100%;
    }

    .contact-section textarea{
        width: 100%;
    }

    .testimonial-section .carousel-item .carousel-caption p {
        padding: 0;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.8rem;
    }

    .top-banner h1{
        font-size: 30px;
        max-width: 100%;
        line-height: 1.5;
    }

    .top-banner p{
        font-size: 10px;
        line-height: 1.5;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.0625rem;
    }

    .top-banner {
        padding: 10.875rem 0 9.375rem;
    }

    .work-section h2{
        text-align: center;
    }

    .work-section img{
        height: 200px;
        width: 200px;
    }

    .work-section p{
        margin-bottom: 0px;
    }

    .story-section {
        height: auto;
        padding: 3rem 0;
    }

    .story-section h2{
        font-size: 20px;
        margin-left: 100px;
    }

    .story-section p{
        font-size: 12px;
        margin-left: 100px;
    }

    .explore-food {
        margin: 20px;
    }

    .testimonial-section .carousel-item {
        padding: 11rem 3.125rem;
    }

    .testimonial-section .carousel-item .carousel-caption p {
    font-size: 15px;
    line-height:1;
    }

    .newsletter {
        width: 75%;
    }

    .newsletter .main-btn {
        width: 100%;
        margin-top: 1rem;
    }

    .contact-section input{
        width: 100%;
    }    

    .footer .footer-link,
    .footer a i{
        padding: 0 0.7rem;
    }
}

@media (max-width:330px) {

    .testimonial-section .carousel-item {
        padding: 13rem 3.125rem;
    }

    .testimonial-section .carousel-item .carousel-caption p {
    font-size: 10px;
    line-height:1;
    }
    
}
